
<hr>
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Material
        </mat-panel-title>
        <mat-panel-description>
          More than UI
        </mat-panel-description>
      </mat-expansion-panel-header>
</mat-expansion-panel>

<hr>
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Material
        </mat-panel-title>
        <mat-panel-description>
          More than UI
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the panel content. Add course details.</p>
      <mat-action-row>
          <button mat-mat-button>Enroll</button>
      </mat-action-row>
</mat-expansion-panel>
<hr>
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Data Binding
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 4 hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the panel content. Add course details.</p>
      <mat-action-row>
          <button mat-mat-button>Enroll</button>
      </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anuglar Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
        <button mat-mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<hr>
<mat-accordion>
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Data Binding
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 4 hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the panel content. Add course details.</p>
      <mat-action-row>
          <button mat-mat-button>Enroll</button>
      </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anuglar Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
        <button mat-mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
<hr>
<mat-accordion multi="true">
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Data Binding
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 4 hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the panel content. Add course details.</p>
      <mat-action-row>
          <button mat-mat-button>Enroll</button>
      </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anuglar Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
        <button mat-mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>

<hr>
<mat-accordion multi="true" hideToggle="true">
<mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Anuglar Data Binding
        </mat-panel-title>
        <mat-panel-description>
          Total Duration : 4 hours
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the panel content. Add course details.</p>
      <mat-action-row>
          <button mat-mat-button>Enroll</button>
      </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anuglar Material
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. Add course details.</p>
    <mat-action-row>
        <button mat-mat-button>Enroll</button>
    </mat-action-row>
</mat-expansion-panel>
</mat-accordion>